# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment files
.env

# Ignore virtual environments
venv/
.venv/

# Ignore streamlit cache
.streamlit/

# Ignore other temporary or OS-specific files
.DS_Store
Thumbs.db
